<script src="{{ 'products-slider.js' | asset_url }}" defer="defer"></script>


<div class="products-slider">
  <div class="shape-wrapper">
    <img
    src="{{ 'products-slider-shape.png' | asset_url }}"
    width="388"
    height="568"
    loading="lazy"
  >
</div>
    <div class="products-wrapper">
        <div class="top-content">
            <div class="heading">
                {% if section.settings.heading != blank %}
                    <h2>{{ section.settings.heading }}</h2>
                {% endif %}

                {% if section.settings.button-title != blank %}
                <a href="{{ section.settings.button-link }}" class="arrow-btn red-variant">{{ section.settings.button-title }}</a>
                {% endif %}
            </div>
            {% if section.blocks.size > 0 %}
            <div class="tags">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
            
                    {%- when 'tag' -%}
                  
                    <a class="tag-btn {% if forloop.index == 1 %} active {% endif %}" href="{{ block.settings.button-link }}">{{ block.settings.button-title }}</a>
               
                {% endcase %}
            {% endfor %}
            </div>
            {% endif %}
         
               
            
        </div>

        <div class="collection-slider">
            {% assign currentCollection = collections[section.settings.collection].products %}
            {% if currentCollection.size > 0 %}
                <div class="keen-slider products-slider-wrapper">
                    {%- for product in currentCollection -%}
                        {% assign productPrice = product.price | money %}
                        <div class="keen-slider__slide">
                            <div class="image-wrapper">
                                {% if product.featured_image != blank %}
                                    <img
                                    src="{{ product.featured_image | image_url: width: 387 }}"
                                    width="387"
                                    height="302"
                                    loading="lazy"
                                >
                                {% endif %}
                                {% render 'icon-heart' %}
                                </div>
                                <div class="content">
                                <h3>{{ product.title }}</h3>
                                <p>{{ product.metafields.custom.author }}</p>
                                <span class="price">{{ productPrice }}</span>
                              
                                  {%- render 'buy-buttons',
                                    block: block,
                                    product: product,
                                    product_form_id: product_form_id,
                                    section_id: section.id,
                                    show_pickup_availability: true
                                  -%}
                                  </div>
                          
                        </div>
                    {% endfor %}
                </div>  
            {% endif %}
        </div>
    </div>
</div>




{% schema %}
    {
      "name": "Products Slider",
      "tag": "section",
      "class": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
        {
                "type": "text",
                "id":"heading",
                "label":"Heading"
            },
            {
              "type": "text",
              "id": "button-title",
              "label": "Button Title"
            },
            {
              "type": "url",
              "id": "button-link",
              "label": "Button Link"
            },
            {
                "type":"collection",
                "id":"collection",
                "label":"Collection"
            }
            
      ],
      "blocks": [
        {
          "type": "tag",
          "name": "Tag",
          "settings": [
            {
              "type": "text",
              "id": "button-title",
              "label": "Button Title"
            },
            {
              "type": "url",
              "id": "button-link",
              "label": "Button Link"
            }
            
          ]
        }
      ],
      "presets": [
        {
          "name": "Products Slider",
          "blocks": [
           
          ]
        }
      ]
    }
    {% endschema %}